p{
    color: yellow;
}

span{

    color: lightblue;
}

.nameclass{

    color: lightcoral;
}
.brand{

    color: red;
    font-size: larger;
}
.chair{
color: royalblue;

}
#newname{
    font-size: 25px;
    color: seashell;
}
p span{
    color: yellow;
}
